@model blog_site.Models.BackendPostEditModel

@{
    ViewBag.Title = Model.Id > 0 ? "Modifica post" : "Nuovo post";
}

<!-- Page Header-->
<header class="masthead" style="background-color:gray; padding:45px;">
</header>

<div class="container">
    @using (Html.BeginForm("SalvaPost", "BackendPost", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)

        <div class="form-floating mb-5">
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", required = "true" })
            @Html.LabelFor(model => model.Title, "Titolo del post", new { @class = "col-md-2 control-label"})
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="form-floating mb-5">
            @Html.TextAreaFor(model => model.Body,new { @class = "form-control" })
            @Html.LabelFor(model => model.Body, "Contenuto del post", new { @class = "col-md-2 control-label" })
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        <div>
            <input type="submit" class="btn btn-primary" value="Salva" />
        </div>
    }
</div>